body {
  margin: 0;
  padding: 0;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow: hidden;
}

svg#sg1981 {
  max-width: 79%;
  max-height: 79%;
  margin-left: -3vh;
  margin-top: -3vh;
  display: block;
  animation: pulse 2s infinite cubic-bezier(0.25, 1, 0.5, 1);
}

.clouds-container {
  z-index: -1;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.cloud {
  position: absolute;
  width: 400px;
  height: 400px;
  background: radial-gradient(
    circle,
    rgba(30, 30, 255, 0.2) 0%,
    rgba(128, 0, 255, 0.15) 30%,
    rgba(0, 255, 255, 0.1) 70%,
    transparent 100%
  );
  border-radius: 50%;
  filter: blur(60px);
  opacity: 0.9;
  animation: cloud-move 90s linear infinite; /* Extended duration */
}

@keyframes cloud-move {
  0% {
    transform: translate3d(var(--x-start), var(--y-start), 0) scale(var(--scale));
  }
  100% {
    transform: translate3d(var(--x-end), var(--y-end), 0) scale(var(--scale));
  }
}

body::before {
  content: '';
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: radial-gradient(
    circle,
    rgba(30, 0, 128, 0.3) 0%,
    rgba(0, 0, 64, 0.25) 30%,
    rgba(64, 0, 128, 0.2) 70%,
    transparent 100%
  );
  mix-blend-mode: overlay;
  z-index: -2;
}

#sg1981 rect {
  transform-origin: 250px 250px;
  transform: rotate(var(--rotation));
  opacity: 0.8;
  transition: opacity 1.5s cubic-bezier(0.25, 1, 0.5, 1);
}

@media (max-width: 768px) {
  .cloud {
    width: 300px;
    height: 300px;
    filter: blur(80px);
    opacity: 0.4; /* Lower opacity for mobile */
  }

  body::before {
    background: radial-gradient(
      circle,
      rgba(30, 0, 128, 0.2) 0%,
      rgba(0, 0, 64, 0.15) 30%,
      rgba(64, 0, 128, 0.1) 70%,
      transparent 100%
    );
  }
}