body {
  margin: 0;
  padding: 0;
  background-color: black;
  background-image: radial-gradient(circle, rgba(255, 255, 255, 0.1) 1%, transparent 1%),
                    radial-gradient(circle, rgba(255, 255, 255, 0.05) 1%, transparent 1%);
  background-size: 3px 3px, 7px 7px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

svg#sg1981 {
  max-width: 79%;
  max-height: 79%;
  margin-left: -3vh;
  margin-top: -3vh;
  display: block;
}

#sg1981 rect {
  transform-origin: 250px 250px; /* Match heart's center */
  transform: rotate(var(--rotation)) scaleY(1); /* Initial transform */
  transition: transform 0.3s ease, opacity 0.3s ease;
}

#sg1981:hover rect {
  animation: flow 4s infinite ease-in-out;
}

@keyframes flow {
  0%,
  100% {
    transform: rotate(var(--rotation)) scaleY(1);
    opacity: 0.8;
  }
  50% {
    transform: rotate(var(--rotation)) scaleY(1.1);
    opacity: 1;
  }
}